MCLocalization.xcodeproj/project.xcworkspace/xcshareddata/MCLocalization.xccheckout
MCLocalization.xcodeproj/project.xcworkspace/xcuserdata/baglan.xcuserdatad/UserInterfaceState.xcuserstate
MCLocalization.xcodeproj/project.xcworkspace/xcuserdata/baglan.xcuserdatad/UserInterfaceState.xcuserstate
